// color configuration

$primary-color: #EE0E51;
$tab-color: #EE0E51;
$font-color: #3d4065;
$primary-background: #fff;


//styling
$borderWidth: 5px;
$animationTime: .5s;
$border-color-default: #eee;
$border-color-fill: #ffb43e;
$size: 45px;
$howManySteps: 10;
